<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/gubersky/IdeaProjects/My_Project">
        <classes>
            <class name="api.tests.TestSingleResource">
                <methods>
                    <include name="responseSingleResource"/>
                </methods>
            </class>
            <class name="api.tests.TestSingleUserNotFound">
                <methods>
                    <include name="userNotFound"/>
                </methods>
            </class>
            <class name="booking.tests.FirstTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="booking.tests.SecondTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="eldorado.tests.AddDeleteProductFromMainPage">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="eldorado.tests.AddProductFromSearchField">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="eldorado.tests.Add_Cellphone_To_Cart_Then_Delete">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="eldorado.tests.MainLogoIsDisplayed">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="rozetka.tests.FirstTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="rozetka.tests.SecondTest">
                <methods>
                    <include name="testProductCart"/>
                </methods>
            </class>
            <class name="rozetka.tests.TestCart">
                <methods>
                    <include name="testProductCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>